.App {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-top: 8rem;
}

.header {
  background-color: cyan;
}

.body {
  display: flex;
  background-color: lightblue;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  width: 200px;
  background-color: lightgreen;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 0.5rem;
  margin: 4rem 0 4rem 0;
}

h1 {
  margin: 0;
  padding: 1rem;
}

h4 {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.footer {
  display: flex;
  justify-content: left;
}

p {
  width: 400px;
}

.main-text {
  margin-bottom: 4rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid black 1px;
  border-radius: 1rem;
  background-color: white;
}

.squares {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 4rem;
}

.footer {
  margin: 0;
  padding: 5px;
  background-color: lightgrey;
}
